# Core image tags
MAVEN_IMAGE=maven:3.6.2-jdk-8
GITLAB_IMAGE=gitlab/gitlab-ce:14.9.3-ce.0
ARTIFACTORY_IMAGE=releases-docker.jfrog.io/jfrog/artifactory-oss:6.23.13
JENKINS_BASE_IMAGE_TAG=2.356-jdk8

# Exposed ports
GITLAB_HTTP_PORT=80
GITLAB_HTTPS_PORT=443
JENKINS_PORT=8080
ARTIFACTORY_PORT=8081

# Docker group id on host; find with: getent group docker | cut -d ':' -f 3
HOST_DOCKER_GID=999
